h1 {
  padding: 20px;
  text-align: center;
  font-size: 30px;
  font-family: Calibri;
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
}

h2 {
  padding: 20px;
  text-align: left;
  font-size: 25px;
  font-family: Calibri;
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
}

.img_avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.img_avatar_container {
	padding: 30px;
}

.generic_review {
	padding: 10px;
}