h1 {
  padding: 20px;
  text-align: center;
  font-size: 30px;
  font-family: Calibri;
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
}

h2 {
  padding: 20px;
  text-align: center;
  font-size: 25px;
  font-family: Calibri;
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
}

p {
  font-family: Calibri;
  font-style: normal; 
  font-variant: normal; 
  font-weight: 500; 
}

button {
	font-family: Calibri;
	font-style: normal; 
  	font-variant: normal; 
  	font-weight: 500; 
}

.img_avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.img_avatar_container {
	padding: 30px;
}

.generic_review {
	padding: 10px;
	display: flex;
  	align-items:center;
}

.product_img {
	max-width: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.product_name {
  font-family: Calibri;
  font-style: normal; 
  font-variant: normal; 
  font-weight: 500; 
  font-size: 20px;
  text-align: center;
  padding: 2px;
}

.to_quest {
	text-align: center;
}

.reviews_container {
	margin: 0 auto;
}

.add_review_container {
	padding: 5px;
}

.user_display {
	padding: 10px;	
}

.img_avatar {
	padding: 10px;
}