#container {
  width: 600px;
  height: auto;
}

.row:nth-child(1){
  background-color: gold;
}

.row:nth-child(2) {
  background-color: #c0c0c0;
}

.row:nth-child(3) {
  background-color: #cd7f32;
}

table, th, td {
  font-family: Calibri;
  font-style: normal; 
  font-variant: normal; 
  font-weight: 500;
  padding: 10px;
  text-align: left; 
}