<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Access Data</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/delete.css" th:href="@{/css/delete.css}" />
</head>
<body>
	<div align="right">
		<p th:text="'Welcome, ' + ${session.user.username} + '!'">Welcome,
			user.</p>
		<a th:href="@{/Logout}">Logout</a>
		<br>
		<a th:href="@{/HomeAdmin}">Home</a>
		<br>
		<a th:href="@{/AccessData}">Back</a>
	</div>

	<h1>Access past questionnaires and data</h1>
	
	<div align="center">
		<p>Product: </p>
		<p class="product_name" th:text="${product.name}">NAME</p>
		<img alt="photo" class="product_img"
			th:src="*{'data:image/png;base64,'+ product.getImageData()}">
	</div>

	<div align="center">
		<h2>Marketing Questions</h2>
		
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Number</th>
					<th>Text</th>
				</tr>
			</thead>
			<tbody th:each="quest : ${questions}">
				<tr>
					<td th:text="${quest.id}">QUEST_ID</td>
					<td th:text="${quest.num}">QUEST_NUM</td>
					<td th:text="${quest.text}">TEXT</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div align="center">
		<h2>Users who submitted</h2>
		
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Username</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody th:each="u : ${users}">
				<tr>
					<td th:text="${u.id}">QUEST_ID</td>
					<td th:text="${u.username}">QUEST_NUM</td>
					<td th:text="${u.email}">TEXT</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>