<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="font-size: 16px;">
<head>
<meta charset="ISO-8859-1">
<title>HomePage</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/homepage.css" th:href="@{/css/homepage.css}" />
</head>

<body>

	<div align="right">
		<p th:text="'Welcome, ' + ${session.user.username} + '!'">Welcome, user.</p>
		<a th:href="@{/Logout}">Logout</a>
	</div>
	
	<h1>Home Page</h1>
	
	<h1>The product of the day is..</h1>
	<p th:text="${product.name}"></p>
	
	<img alt="photo"
			th:src="*{'data:image/png;base64,'+ product.getImageData()}">
	
	<a th:href="@{/QuestionnaireForm}">Answer to the Daily Questionnaire!</a>

	<div class="container" style="margin-top: 10px;">
		<div th:each="rw : ${reviews}">
					<div align="left" class="img_avatar_container">
						<img class="img_avatar" src="./img/avatar.jpg"></img>
					</div>
					<p th:text="${rw.user.username}" class="user_display" />
					<p th:text="${rw.text}" class="user_text"></p>
					<!-- <p th:text="${res.marketing_questionnaire.text}"></p> -->				
		</div>

		<div class="add_review_container">
			<form action="AddComment" method="POST">
			    <input type="text" placeholder="Insert your comment here." name="add_review" required>
			    <button type="submit" class="review_submit">Post</button>			
			</form>
		</div>
	</div>
</body>

</html>