<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="./css/leaderboard.css"/>
<title>Leaderboard</title>
</head>
<body>
<body>

	<div align="right">
		<p th:text="'Welcome, ' + ${session.user.username} + '!'">Welcome,
			user.</p>
		<a th:href="@{/Logout}">Logout</a>
	</div>
	
	<div align="right">
		<a th:href="@{/HomePage}">Home</a>
	</div>
	
	<h1>Our top respondents</h1>
	
	<div th:if="${!emptyL}">
		<div id="container" th:each="u : ${leaderboard}">
			<div class="row" th:classappend=" ${u.points}">
				<div class="name" th:inline="text">[[${u.username}]]</div>
	    		<div class="score" th:inline="text">[[${u.points}]]</div>
	  		</div>
		</div>
	</div>
	<div th:unless="${!emptyL}">
		<h2>No user has answered to the questionnaire!</h2>
		<p align="center">Come Back later or answer to the questionnaire! :)</p>
	</div>
</body>
</body>
</html>