<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="./css/questionnaire.css"/>
<title>Questionnaire</title>
</head>
<body>
	<div align="right">
		<!-- <p th:text="${'User: ' + session.user.name == null ? '' : 'owo'}"></p>  -->
		<a th:href="@{/Logout}">Logout</a>
	</div>
	
	<div align="right">
		<a th:href="@{/HomeManager}">Home</a>
	</div>
	
	<h1>Questionnaire</h1>
	
	<div align="center" class="img_container">
		<div align="center" class="img_header">
			<h2>Product of the day</h2>
			<p th:text="${product}"> </p>
		</div>
		<!-- <img th:src="${pic} == null ? _ : @{'data:image/png;base64,'+${pic}}"> -->
	</div>



	<form method="post" action="CheckMarketingQuestions" onSubmit="return validateForm()">
		<div class="questions_container" th:each="question : ${questions}">
			<div style="max-width: 400px;"></div>
			<div style="padding-bottom: 18px;">
				<div th:inline="text">[[${question.text}]]</div>
				<span style="color: red;"> *</span><br />
				<textarea th:id="'question_' + ${question.num}" style="max-width: 450px;"
					rows="6" required></textarea>
			</div>
		</div>
		<button type="submit" value="login">Submit</button>
	</form>
	
	
	<script type="text/javascript">
		function validateForm() {
			var result = true
			$('textarea').each(function() {
			    if (!$.trim($(this).val().length < 10)) {
			        //get the id of the non null text input and push it for example in an array
			        //the index parameter returns the number of the input element by order in the form,
			        //the value parameter return the value
			        result = true
			        $(this).addClass("error_control")
			    }
			    else {
			    	$(this).removeClass("error_control")
			    }
			});
			return result
		}
	</script>
</body>
</html>